<!-- Services Section -->
<section class="py-12 px-4 max-w-6xl mx-auto">
  <h1 class="text-3xl font-normal text-center mb-12 text-[#645F80]">Services que j'offre</h1>

  <!-- Flex Container -->
  <div class="flex flex-wrap justify-center justify-between">

    <!-- Service Card -->
    <div data-aos="fade-up" data-aos-duration="3000"
      class="service-card bg-[#E2D6C5] rounded-2xl p-4 w-64 min-h-[400px] flex flex-col items-center text-sm m-2">
      <img src="assets/Image/palette.png" alt="Architectural Blueprints" class="h-24 w-24 mb-4">
      <h3 class="text-lg font-semibold text-center mb-2">Plans techniques et dessins </h3>
      <p class="text-gray-700 text-center">
        Fourniture de plans d'élévation, plans d'étage, coupes et détails destinés aux entrepreneurs.<br>
        Garantie que les conceptions respectent les normes de sécurité et la réglementation en vigueur.
      </p>
    </div>

    <!-- Service Card 2 -->
    <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500"
      class=" service-card bg-[#E2D6C5] rounded-2xl p-4 w-64 min-h-[400px] flex flex-col items-center text-sm m-2">
      <img src="assets/Image/bathroom.png" alt="Interior Floor Planning" class="h-24 w-24 mb-4">
      <h3 class="  text-lg font-semibold text-center mb-2">Planification d'aménagement intérieur</h3>
      <p class="text-gray-700 text-center">
        Concevez la disposition parfaite pour vos espaces intérieurs avec nos services de planification. Nous
        privilégions la fonctionnalité et l'attrait esthétique pour chaque pièce.
      </p>
    </div>

    <!-- Service Card 3 -->
    <div data-aos="fade-up" data-aos-duration="3000"
      class="service-card bg-[#E2D6C5] rounded-2xl p-4 w-64 min-h-[400px] flex flex-col items-center text-sm m-2">
      <img src="assets/Image/3d.png" alt="3D Design Concepts" class="h-24 w-24 mb-4">
      <h3 class="text-lg font-semibold text-center mb-2">Concepts de design 3D</h3>
      <p class="text-gray-700 text-center">
        Visualisez vos projets avec des rendus 3D époustouflants. Nos concepts présentent des vues réalistes des
        espaces, matériaux et finitions pour faciliter la prise de décision.
      </p>
    </div>

    <!-- Service Card 4 -->
    <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500"
      class="service-card bg-[#E2D6C5] rounded-2xl p-4 w-64 min-h-[400px] flex flex-col items-center text-sm m-2">
      <img src="assets/Image/2d.png" alt="2D Drawings" class="h-24 w-24 mb-4">
      <h3 class="text-lg font-semibold text-center mb-2">Dessins 2D</h3>
      <p class="text-gray-700 text-center">
        Obtenez des dessins 2D précis et détaillés incluant des plans à l'échelle, des coupes et des élévations pour
        communiquer clairement vos idées.
      </p>
    </div>

  </div>
</section>